@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-thumb{
  border-radius: 4px;
  background-color: blue;
}
::-webkit-scrollbar-track-piece{
  background-color: #d5d5d5;
}
.bg-school{
  background-image: url('../public/bg2co.avif');
  background-size: cover;
  background-position: center;
}

.bg{
  background-image: url('../public/palmleavesshadowco.avif');
  background-size: cover;
  background-position: center;
}
.bg-floral{
  background-image: url('../public/floralco.avif');
  background-size: cover;
  background-position: center;
}